{% include "./layouts/header.html" %}
{% block body %}
<body>
  {% include "./layouts/navbar.html" %}
    <div class="container-fluid">
        <div class="row">
            {% include "./layouts/sidebar.html" %}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 content">
                <h3 class="text-center my-4" >Pelatihan BNSP</h3>
                <div class="row">
                    {% for pelatihan in pelatihans %}
                    <div class="col-lg-3 col-md-6 mb-4" style="min-height: 20vh;">
                        <div class="card">
                            <img src="{{url_for('static',filename='images/uploads/'+pelatihan[2])}}" class="card-img-top" height="100" alt="Image 1">
                            <div class="card-body">
                                <h5 class="card-title">{{ pelatihan[3] }}</h5>
                                <p class="card-text">{{ pelatihan[4] }}</p>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </main>
        </div>
    </div>
</body>
{%endblock%}
{% include "./layouts/footer.html" %}
</html>
